.invite-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    .Errors{
      margin-top: 10x;
      color:red;
    }
    .modal-content {
      background: white;
      padding: 20px;
      border-radius: 5px;
      width: 300px;
      text-align: center;
  
      input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-radius: 5px;
      }
  
      .modal-buttons {
        display: flex;
        justify-content: space-between;
  
        button {
          padding: 10px 20px;
          border: none;
          border-radius: 5px;
          cursor: pointer;
  
          &:first-child {
            background: #007bff;
            color: white;
          }
  
          &:last-child {
            background: #6c757d;
            color: white;
          }
        }
      }
    }
  }
  