$primary-color: #43c6ac;
$secondary-color: #ffffff;
$background-color: #f4f4f4;
$button-hover: darken($primary-color, 10%);
$font-family: "Arial", sans-serif;

.welcome {
  text-align: center;

  h1 {
    margin-bottom: 20px;
    font-size: 2rem;
  }

  p {
    margin-bottom: 40px;
    font-size: 1rem;
  }
.login_button{
  margin-top: 30px;
}
  .btn-signin {
    margin-top: 15px;
    background-color: transparent;
    color: $secondary-color;
    border: 2px solid $secondary-color;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: $secondary-color;
      color: $primary-color;
    }
  }
}



.auth-inputs {
  max-width: 300px;
  .error{
    color:#1D1b26;
  }
  h1 {
    margin-bottom: 20px;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: $primary-color;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 1.5rem;
    .input-field {
      padding: 10px;
      width: 100%;
      border: 1px solid lightgray;
      border-radius: 5px;
      font-size: 1rem;

      &.invalid {
        border-color: red;
      }
    }
    .btn-signup {
      background-color: $primary-color;
      color: $secondary-color;
      border: none;
      border-radius: 20px;
      padding: 10px 20px;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: $button-hover;
      }
    }
  
  }}