.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f5faff;
  border-radius: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);

  h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #333;
    margin-bottom: 1.5rem;
  }

  .filters {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;

    button {
      padding: 10px 15px;
      font-size: 1rem;
      font-weight: 600;
      background-color: #2590f2;
      color: white;
      border: none;
      border-radius: 25px;
      margin: 0 10px;
      cursor: pointer;
      transition: all 0.3s ease;

      &:hover {
        background-color: #1b6ebe;
      }
    }
  }
  
  form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    input[type="text"],
    input[type="date"] {
      width: 40%;
      padding: 12px;
      border: 1px solid #ddd;
      border-radius: 10px;
      font-size: 1rem;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: #2590f2;
      }
    }

    button {
      padding: 12px 25px;
      background-color: #2590f2;
      color: white;
      border: none;
      border-radius: 25px;
      font-size: 1rem;
      font-weight: 600;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #218838;
      }
    }
  }

  ul {
    list-style: none;
    padding: 0;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem;
      margin-bottom: 10px;
      background-color: white;
      border: #ddd 1px solid ;
      border-radius: 15px;
    
      transition: transform 0.2s ease;

      &:hover {
        transform: translateY(-2px);
      }
      .EventElement{
        display: flex;
      justify-content: space-between;
      align-items: center;
      }
      span {
        font-size: 1.1rem;
        font-weight: 500;
        color: #333;
      }

      button {
        padding: 8px 15px;
        font-size: 0.9rem;
        background-color: #2590f2;
        color: white;
        border: none;
        border-radius: 25px;
        margin-left: 10px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .complete-btn {
        background-color: #ffc107;

        &:hover {
          background-color: #e0a800;
        }
      }

      .delete-btn {
        background-color: #dc3545;

        &:hover {
          background-color: #c82333;
        }
      }
    }
  }
}
